{% extends 'portfolio/base.html' %}
{% load static %}

{{ title }}



{% block content %}

<img src="{% static 'portfolio/islogo.jpg' %}" alt="Background Image" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; opacity: 0.2;">

<body  style="margin: 20px;">

<div align="center" class="box">

	<h2>
		О проекте! 
	</h2>

<br>

		<blockquote>
			Это проект который я решился делать спустя кучу уроков и курсов.
			До выполнения данной работы я изучал язык программирования Python. По мере изучения столкнулся с фреймворком Django, очень понравился, решил развиватьвся в этом направлении. На этом сайте размещены ещё не все полученные знания, это просто тестовый проект. Параллельно с этим изучал SQL, в частности СУБД Postgres. Конечно надо ещё много времени уделить frontend разработке, но это далеко впереди.
<br>		Многому предстоит ещё научиться, как говориться терпение и труд всё перетрут!!!
<br>		Подобную работу я раньше не делал в таком масштабе (размещение в сети в частности), поэтому не судите строго!!!
<br>		Кстати картинку на заднем плане нарисовала жена! Поэтому 50% проделанной работы сделала она)))
		</blockquote>

<br>
<br>

 </div>

<em>По всем вопросам и пожеланиям вы можете написать по этому адресу: <a target="_blank" href="mailto:jeka7n7i@yandex.ru"> jeka7n7i@yandex.ru</a></em>

</body>

{% endblock content %}