{% extends 'portfolio/base.html' %}

{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">






<div class="container text-center">
    <div class="text-success-emphasis text-center" style="width: 110rem;  height: 40px;"><h3>
 Это страница генератора паролей, с возможностью задать такие параматры как длина пароля, регистр, и спецсимволы.</h3>
</div>
<br>
<h1><p>Password Generator</p></h1>

	<form action="{% url 'password' %}">
    <select name="lenght" class="btn btn-primary" >
        <option value="4" {% if request.GET.lenght == '4' %}selected{% endif %}>4</option>
        <option value="5" {% if request.GET.lenght == '5' %}selected{% endif %}>5</option>
        <option value="6" {% if request.GET.lenght == '6' %}selected{% endif %}>6</option>
        <option value="7" {% if request.GET.lenght == '7' %}selected{% endif %}>7</option>
        <option value="8" {% if request.GET.lenght == '8' %}selected{% endif %}>8</option>
        <option value="9" {% if request.GET.lenght == '9' %}selected{% endif %}>9</option>
        <option value="10" {% if request.GET.lenght == '10' %}selected{% endif %}>10</option>    
        <option value="11" {% if request.GET.lenght == '11' %}selected{% endif %}>11</option>    
        <option value="12" {% if request.GET.lenght == '12' %}selected{% endif %}>12</option>    
        <option value="13" {% if request.GET.lenght == '13' %}selected{% endif %}>13</option>    
        <option value="14" {% if request.GET.lenght == '14' %}selected{% endif %}>14</option>    
    </select> Количество символов

 <input type="checkbox" name="uppercase" {% if request.GET.uppercase %}checked{% endif %}> Символы верхнего регистра

    
<input type="checkbox" name="numbers" {% if request.GET.numbers %}checked{% endif %}> Цифры

    
<input type="checkbox" name="special" {% if request.GET.special %}checked{% endif %}> Специальные символы

 <br><input type="submit" value="Сгенерировать пароль" class="btn btn-primary"><br>

</form>
</div>

<div style="text-align: center; background-color: #f8f9fa; padding: 20px;">
  <h1 style="font-size: 24px;">Ваш сгенерированный пароль:</h1>
  <h2 style="font-size: 70px;font-family: 'Courier New', monospace;">{{ password }}</h2>
</div>

{% endblock content %}